Makefile
autom4te.cache/
config.h.in~
config.log
m4/
src/.apl.history
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
